@tailwind base;

@font-face {
  font-family: "Krona One";
  src: url("/fonts/KronaOne-Regular.ttf");
}

@font-face {
  font-family: "Luckiest Guy";
  src: url("/fonts/LuckiestGuy-Regular.ttf");
}

.luckiest-guy {
  font-family: "Luckiest Guy", Roboto, serif;
}

.krona {
  font-family: "Krona One", Roboto, serif;
}

body {
  margin: 0;
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-video{
  position: relative;
}
